*,
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
}

.bg {
    background-image: url(./pictures/pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > a > img{
    width: 30;
    margin-top: 10px;
}

.navbar {
    margin-top: 10px;
    display: flex;
    color: #fff;
    align-items: flex-start;
}

ul > li > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-family: monospace;
    padding: 10px 16px;
}

ul {
    display: flex;
}

ul > li {
    list-style: none;
    transition: all .2s;
}

li:hover {
    background-color: orange;
}

li:active {
    transform: translateY(2px);
}

.bg-about {
    background-image: url(./pictures/pc4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.bg-product {
    background-image: url(./pictures/pc2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.mainproducts {
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}

.bg-service {
    background-image: url(./pictures/pc2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.bg-contact {
    background-image: url(./pictures/pc7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 117px);
    color: orange;
}

.welcome > h1 {
    font-size: 50px;
}

.readmore {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.527);
    color: orange;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    translate: all .4s;
}

.readmore:hover {
    background-color: orange;
    color: #fff;
    scale: 1.05;
}